{
	"$schema": "https://swc.rs/schema.json",
	"test": ".*\\.ts$",
	"exclude": [
		".*\\.test.ts$"
	],
	"jsc": {
		"parser": {
			"syntax": "typescript"
		},
		"externalHelpers": true
	},
	"module": {
		"type": "es6"
	},
	"env": {
		"targets": {
			"node": "4.4"
		},
		"include": [
			"transform-shorthand-properties",
			"transform-spread"
		],
		"mode": "usage",
		"coreJs": "3.38"
	}
}